<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css') }}">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/welcome.js')}}"></script>
	</head>
	<body>
		<div id="wrapper">
			<h1>Welcome {{ session['user']['first_name']+' '+session['user']['last_name'] }}</h1>
			<form action='/friends' method='POST'>
				<label for='friends'><input type='submit' value='Friends'></label>
			</form>
			<form action='/wall' method='POST'>
				<label for='wall'><input type='submit' value='Wall'></label>
			</form>
			<form action='/logout' method='POST'>
              <label for='logout'><input type='submit' value='Logout'></label>
          </form>
		</div>
	</body>
</html>